package Clock;

import java.awt.*;
import java.awt.event.*;
import javax.swing.*;

public class Display extends JFrame{
	private CardLayout cardLayout = new CardLayout();
	private JPanel cardPanel = new JPanel(cardLayout);
	
	private JButton jbtClock = new JButton("主界面");
    private JButton jbtWorldClock = new JButton("世界时钟");
    private JButton jbtAlarmClock = new JButton("闹钟");
    private JButton jbtSecond = new JButton("秒表");
    private JButton jbtTimepiece = new JButton("计时器");
    
    private Box box = Box.createHorizontalBox();
    
    public Display() {
    	DisplayClock displayClock = new DisplayClock();
    	cardPanel.add(displayClock, String.valueOf(0));
    	
    	DisplayWorldClock displayWorldClock = new DisplayWorldClock();
    	cardPanel.add(displayWorldClock, String.valueOf(1));
    	
    	DisplayAlarmClock displayAlarmClock = new DisplayAlarmClock();
    	cardPanel.add(displayAlarmClock, String.valueOf(2));
    	
    	DisplaySecond displaySecond = new DisplaySecond();
        cardPanel.add(displaySecond, String.valueOf(3));
        
        DisplayTimepiece displayTimepiece = new DisplayTimepiece();
        cardPanel.add(displayTimepiece, String.valueOf(4));
        
        JPanel panel = new JPanel(new GridLayout(1,4));
    	panel.add(jbtWorldClock);
    	panel.add(jbtAlarmClock);
    	panel.add(jbtSecond);
    	panel.add(jbtTimepiece);
    	
    	box.add(jbtClock);
    	
    	add(box, BorderLayout.NORTH);
    	add(cardPanel, BorderLayout.CENTER);
    	add(panel, BorderLayout.SOUTH);
    	
    	jbtClock.addActionListener(new ActionListener(){
    		public void actionPerformed(ActionEvent e) {
    			cardLayout.show(cardPanel, String.valueOf(0));
    		}
    	});
    	
    	jbtWorldClock.addActionListener(new ActionListener(){
    		public void actionPerformed(ActionEvent e) {
    			cardLayout.show(cardPanel, String.valueOf(1));
    		}
    	});
    	
    	jbtAlarmClock.addActionListener(new ActionListener(){
    		public void actionPerformed(ActionEvent e) {
    			cardLayout.show(cardPanel, String.valueOf(2));
    		}
    	});
    	
    	jbtSecond.addActionListener(new ActionListener(){
    		public void actionPerformed(ActionEvent e) {
    			cardLayout.show(cardPanel, String.valueOf(3));
    		}
    	});
    	
    	jbtTimepiece.addActionListener(new ActionListener(){
    		public void actionPerformed(ActionEvent e) {
    			cardLayout.show(cardPanel, String.valueOf(4));
    		}
    	});
    }
	public static void main(String[] args){	
		Display frame = new Display();
		frame.setResizable(false);
		frame.setTitle("多功能时钟");
		frame.setSize(400,300);
		frame.setLocationRelativeTo(null);
		frame.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
		frame.setVisible(true);
	}
}
